body {
  font-family: "Gill Sans", "Helvetica Neue";
  font-size: 14pt;
  font-weight: 200;
  line-height: 150%;
  margin:0;
}

a {
  color: crimson;
  font-weight: 400;
  text-decoration:none;
}
a:hover {
  text-decoration: underline;
}

.site {
  margin: 3em;
}

article {
  margin: 3em;
  max-width: 30em;
}

article date {
  font-weight: 100;
}

article .title {
  font-weight: 400;
}

article > footer {
  font-weight: 400;
  color: teal;
text-align: center;  
}

.site > header {
  border-bottom: solid 1pt;
}

.site > footer {
  border-top: solid 1pt;
  font-weight: 100;
}