<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="site">
          <header>
            <h1 class="title"><a href="/">Moonbase Plumbing</a></h1>
          </header>

          {{ content }}

          <footer>
            <p>Moonbase Plumbing is a personal website by
                <a href="https://twitter.com/stahlwerk">Andreas Stahl</a>, 
                who is a C++ - wrangler (obv.) at <a href="http://www.hicknhack.com">HicknHack Software GmbH</a>, 
                has made some electronic music a long time ago which you can savely ignore at <a href="http://onebitwonder.bandcamp.com">bandcamp</a>, 
                has a fluctuating amount of code on <a href="https://github.com/astahl">github</a>, 
                and toots semi-regularly on <a href="https://twitter.com/stahlwerk">twitter</a>.
            </p>
          </footer>
        </div>
    </body>
</html>
